<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="{% url 'home' %}">Back</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
              <a class="nav-item nav-link" href="https://www.linkedin.com/in/prince-rajput-a72853196/">LinkedIn</a>
              <a class="nav-item nav-link" href="https://github.com/Prince081996">Github</a>
            </div>
          </div>
        </nav>
      </header>
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">My Introduction.</h1>
          <p class="lead text-muted">Hey my name is prince,i am 23 years old,i am from new delhi,i have completed my btech from ip university in Electronics and communication engineering..</p>
          <p class="lead text-muted">Apart from this i have a six  years of teaching experience in Mathematics</p>
          <p class="lead text-muted">I am a fitness freak and i like watching movies and listening songs</p>
          <p class="lead text-muted">I utilized my time in learning python during the corona pandemic and right now i am seeking for an opportunity to get job as a python/django developer</p>     
        </div>
      </section>
</body>
</html>